.clubDetails{
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 50px 70px;
}

.clubImg{
    height: 150px;
    border-radius: 50%; /* Crea un borde redondeado */
    box-shadow: 0 0 0 15px var(--white);
}

.clubName{
    color: var(--white);
    font-size: 50px;
}

.menu ul li {
    display: inline;
    list-style-type: none;
    margin: 20px;
    cursor: pointer;
  }

@media (max-width: 929px) {
    .clubDetails{
        flex-direction: column;
    }

    .clubImg{
        height: 100px;
        box-shadow: 0 0 0 10px var(--white);
    }
}