<header id="header">
    <div class="headerContainer">
        <div class="logoHeader">
            <img src="assets/images/football-logo.png" alt="tournamentLogo"/>
            <span><strong>Soccer</strong>Tournament</span>
        </div>
        <nav class="headerNav">
            <div class="menuIcon" [class.menuIconClass]="menuIconVariable" (click)="openMenu()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="menu" [class.menuClass]="menuVariable">
                <ul>
                    <li class="navButton" *ngFor="let link of links">
                        <a [routerLink]="['{{link.route}}']" [routerLinkActive]="['active']">{{link.title}}</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>