<header id="header">
    <div class="headerContainer">
        <div class="logoHeader">
            <img src="assets/images/football-logo.png" alt="tournamentLogo"/>
            <span><strong>Soccer</strong>Tournament</span>
        </div>
        <nav class="headerNav">
            <div class="menuIcon" [class.menuIconClass]="menuIconVariable" (click)="openMenu()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="menu" [class.menuClass]="menuVariable">
                <ul>
                    <li class="navButton">
                        <a [routerLink]="['/home']" [routerLinkActive]="['active']">home</a>
                    </li>
                    <li class="navButton">
                        <a [routerLink]="['/error']" [routerLinkActive]="['active']">stats center</a>
                    </li>
                    <li class="navButton">
                        <a [routerLink]="['/error2']" [routerLinkActive]="['active']">table</a>
                    </li>
                    <li class="navButton">
                        <a [routerLink]="['/error3']" [routerLinkActive]="['active']">results</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>