<header id="header">
    <div class="headerContainer">
        <div class="logoHeader">
            <img src="../../../assets/images/football-logo.png" alt="tournamentLogo"/>
            <span><strong>Soccer</strong>Tournament</span>
        </div>
        <nav class="headerNav">
            <ul>
                <li>
                    <button class="navButton">home</button>
                </li>
                <li>
                    <button class="navButton">stats center</button>
                </li>
                <li>
                    <button class="navButton">table</button>
                </li>
                <li>
                    <button class="navButton">results</button>
                </li>
            </ul>
        </nav>
    </div>
</header>