.tableContainer {
  padding: 20px 40px;
}

td,
th {
  padding: 5px;
}

tr,
thead {
  border: 1.5px solid var(--lightGrey);
}

table {
  border-collapse: collapse;
  box-shadow: 0px 0px 5px 0px var(--grey);
}

.tableTitle {
  background-color: var(--blueWeb);
  color: var(--white);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableContent {
  width: 100%;
  text-align: left;
}

.tableHeader {
  color: var(--darkGrey);
}

@media (max-width: 1530px) {
  .tableContainer {
    padding: 20px 0px 20px 20px;
  }
}

@media (max-width: 1150px) {
  .tableContainer {
    padding: 20px 100px;
  }
}

@media (max-width: 740px) {
  .tableContainer {
    padding: 20px 0px;
  }
}
