<div class="homePage">
  <app-swiper></app-swiper>
  <div class="homePageGrid">
    <div class="section">
      <h2 class="subTitle">Próximos Partidos</h2>
      <hr />
      <div class="matchesContainer">
        <div class="matchCard" *ngFor="let match of matches">
          <div class="infoTeams">
            <img src="{{ match.teamHomeImg }}" alt="{{ match.teamHome }}" />
            <h3>VS</h3>
            <img src="{{ match.teamAwayImg }}" alt="{{ match.teamAwayImg }}" />
            <p>{{ match.teamHome }}</p>
            <div></div>
            <p>{{ match.teamAway }}</p>
          </div>
          <div class="infoMatch">
            <p><span>{{match.matchDate.date | date:"dd MMMM yyyy" : 'es' | titlecase }}</span> | {{match.matchDate.hour}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="tableContainer">
      <div class="tableTitle">
        <h3>CLASIFICACIÓN</h3>
      </div>
      <table class="tableContent">
        <thead class="tableHeader">
          <th>Pos</th>
          <th>Club</th>
          <th>GD</th>
          <th>Pts</th>
        </thead>
        <tbody class="tableBody">
          <tr *ngFor="let club of tableItems; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ club.team }}</td>
            <td>{{ club.GD }}</td>
            <td>{{ club.pts }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
