.swiperContainer{
    margin-top: 20px;
    width: 100%;
}

h2.section{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.linkAllClubs{
    color: var(--black);
    text-decoration: underline;
    font-size: 13px;
}

.swiper{
    text-align: center;
    margin: 20px auto;
}

.swiper-item{
    width: fit-content;
    background-color: var(--grey);
    border-radius: 5px;
    margin: 0 auto;
    padding: 10px;
}

.swiper img{
    height: 100px;
}

.swiper-button-prev,
.swiper-button-next{
    color: white;
    background: var(--blueWeb);
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.swiper-button-next::after{
    margin-left: 5px;
    font-size: 24px;
}

.swiper-button-prev::after{
    margin-right: 5px;
    font-size: 24px;
}

.swiper-pagination-bullets{
    display: none;
}