<div class="homePage">
  <div class="homeBody">
    <h2 class="section">
      EQUIPOS
      <a class="linkAllClubs" href="#">TODOS LOS EQUIPOS</a>
    </h2>
    <swiper [config]="swiperConfig">
      <ng-template swiperSlide>
        <img src="../../../assets/images/teams/Arsenal.png" />
        <h3>Arsenal</h3>
      </ng-template>
      <ng-template swiperSlide>
        <img src="../../../assets/images/teams/Barcelona.png" />
        <h3>Barcelona</h3>
      </ng-template>
      <ng-template swiperSlide>
        <img src="../../../assets/images/teams/Bayern.png" />
        <h3>Bayern</h3>
      </ng-template>
      <ng-template swiperSlide>
        <img src="../../../assets/images/teams/Besiktas.png" />
        <h3>Besiktas</h3>
      </ng-template>
      <ng-template swiperSlide>
        <img src="../../../assets/images/teams/Borussia.png" />
        <h3>Borussia</h3>
      </ng-template>
      <ng-template swiperSlide>
        <img src="../../../assets/images/teams/Club Nacional.png" />
        <h3>Club Nacional</h3>
      </ng-template>
      <ng-template swiperSlide>
        <img src="../../../assets/images/teams/Diogo.png" />
        <h3>Diogo</h3>
      </ng-template>
      <ng-template swiperSlide>
        <img src="../../../assets/images/teams/Neira.png" />
        <h3>Neira</h3>
      </ng-template>
      <ng-template swiperSlide>
        <img src="../../../assets/images/teams/PSG.png" />
        <h3>PSG</h3>
      </ng-template>
    </swiper>
  </div>
  <div class="tableContainer">
    <h3>Table</h3>
    <table>
      <thead>
        <th>Pos</th>
        <th>Club</th>
        <th>GD</th>
        <th>Pts</th>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
