<swiper
  [slidesPerView]="3"
  [spaceBetween]="20"
  [navigation]="true"
  [pagination]="{ clickable: false }"
>
  <ng-template swiperSlide>
    <img src="../../../assets/images/teams/Arsenal.png">
    <h3>Arsenal</h3>
  </ng-template>
  <ng-template swiperSlide>
    <img src="../../../assets/images/teams/Barcelona.png">
    <h3>Barcelona</h3>
  </ng-template>
  <ng-template swiperSlide>
    <img src="../../../assets/images/teams/Bayern.png">
    <h3>Bayern</h3>
  </ng-template>
  <ng-template swiperSlide>
    <img src="../../../assets/images/teams/Besiktas.png">
    <h3>Besiktas</h3>
  </ng-template>
  <ng-template swiperSlide>
    <img src="../../../assets/images/teams/Borussia.png">
    <h3>Borussia</h3>
  </ng-template>
  <ng-template swiperSlide>
    <img src="../../../assets/images/teams/Club Nacional.png">
    <h3>Club Nacional</h3>
  </ng-template>
  <ng-template swiperSlide>
    <img src="../../../assets/images/teams/Diogo.png">
    <h3>Diogo</h3>
  </ng-template>
  <ng-template swiperSlide>
    <img src="../../../assets/images/teams/Neira.png">
    <h3>Neira</h3>
  </ng-template>
  <ng-template swiperSlide>
    <img src="../../../assets/images/teams/PSG.png">
    <h3>PSG</h3>
  </ng-template>
</swiper>
