:root{
    --headerFont: 'Raleway', sans-serif;
    --bodyFont: 'Barlow Semi Condensed', sans-serif;
    --blueWeb: #111F98;
    --green: #cdfb0a;
    --lightGrey: #CCC;
    --grey: #efefef;
    --darkGrey: #808080;
    --white: #FFF;
    --black: #000;
}

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    font-family: var(--bodyFont);
    display: flex;
    flex-flow: column;
}

a{
    text-decoration: none;
}

/* TODO: router-outlet instead of app-header  */
app-header{
    display: flex;
    flex-flow: column;
    /* height: calc( 100vh - 80px); */
}

app-footer{
    margin-top: auto;
}

#header,
.navButton,
.footer-container,
.footer-text a{
    color: var(--white);
}

@media (max-width: 670px){
    app-header{
        height: calc( 100vh - 127px);
    }
}