:root{
    --headerFont: 'Raleway', sans-serif;
    --bodyFont: 'Barlow Semi Condensed', sans-serif;
    --greenWeb: #84d12d;
    --lightGrey: #CCC;
    --white: #FFF;
    --black: #000;
}

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    text-align: center;
    font-family: var(--bodyFont);
    display: flex;
    flex-flow: column;
}

/* TODO: router-outlet instead of app-header  */
app-header{
    display: flex;
    flex-flow: column;
    height: calc( 100vh - 80px);
}

app-footer{
    margin-top: auto;
}

@media (max-width: 670px){
    app-header{
        height: calc( 100vh - 127px);
    }
}