.countdown {
  font-family: var(--countdownFont);
  color: var(--white);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  width: 360px;
  margin: 30px auto;
  margin-bottom: 0px;
}

.countdownContainer{
    background: var(--grey);
    padding: 30px 0;
}

.countdownSubtitle{
     color: var(--white);
}

.date {
  text-align: center;
  font-size: 48px;
}

.countdownClock p {
  text-align: center;
}

.dots {
  font-weight: bold;
  font-size: 40px;
}

@media (max-width: 929px) {
  .date {
    font-size: 30px;
  }
  .countdown {
    width: 280px;
  }
}
