.cardsSection {
  padding-top: 20px;
}

.matchesContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 20px 0px;
}

.matchCard {
  border: 1.5px solid var(--lightGrey);
  display: grid;
  align-content: space-between;
}

.infoTeams {
  margin: 10px 5px 4px 5px;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.infoMatch {
  text-align: center;
  font-weight: bold;
  padding: 10px 0px;
  background-color: var(--blueWeb);
  color: var(--white);
}

.matchCard img {
  height: 50px;
}

@media (max-width: 1400px) {
  .matchesContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .matchesContainer {
    grid-template-columns: 1fr;
  }
}
