<div class="cardsSection">
  <h2 class="subTitle">Próximos Partidos</h2>
  <hr />
  <div class="matchesContainer">
    <a class="matchCard" href="#" *ngFor="let match of matches">
      <div class="infoTeams">
        <div class="teamHomeInfo">
          <img class="teamImg" src="{{ match.teamHomeImg }}" alt="{{ match.teamHome }}" />
          <p>{{ match.teamHome }}</p>
        </div>
        <h3>VS</h3>
        <div class="teamAwayInfo">
          <img class="teamImg" src="{{ match.teamAwayImg }}" alt="{{ match.teamAwayImg }}" />
          <p>{{ match.teamAway }}</p>
        </div>
      </div>
      <div class="infoMatch">
        <p>
          <span>{{
            match.matchDate.date | date : "dd MMMM yyyy" : "es" | titlecase
          }}</span>
          | {{ match.matchDate.hour }}
        </p>
      </div>
    </a>
  </div>
</div>
<div class="cardsSection">
  <h2 class="subTitle">Resultados jornada {{ lastMatchWeek }}</h2>
  <hr />
  <div class="matchesContainer">
    <a class="matchCard" href="#" *ngFor="let result of lastWeekResults">
      <div class="infoTeams">
        <div class="teamHomeInfo">
          <img class="teamImg" src="{{ result.teamHomeImg }}" alt="{{ result.teamHome }}" />
          <p>{{ result.teamHome }}</p>
        </div>
        <div class="result">
          <h3>{{ result.teamHomeResult }} - {{ result.teamAwayResult }}</h3>
        </div>
        <div class="teamAwayInfo">
          <img class="teamImg"src="{{ result.teamAwayImg }}" alt="{{ result.teamAwayImg }}" />
          <p>{{ result.teamAway }}</p>
        </div>
      </div>
    </a>
  </div>
</div>
